body{
    background:rgb(63, 62, 62);
   color:black;
}
.logo{
    width:7%;
    position:relative;
    top:35px;
    border-bottom: 2px solid black;
   
}
.mobile-logo{
    display:none;
}
nav.mobile-nav .mobile-cart{
    display:none;
}
.fa-bars{
    font-size:30px;
    padding-left: 20px;
    color:rgb(24, 23, 23);
}
    h2{
        text-transform: capitalize;
        font-size: large;
        font-style: italic ;
        border:1px solid rgb(14, 13, 13);
        letter-spacing: 2px;
        width: 50%;
        text-align:center;
        margin: auto;
        margin-bottom:5px;
        color: rgb(214, 201, 13);
    }
    .our-product{
        color:white;
        font-size: 60px;
        text-transform: capitalize;
        font-style: italic ;
    }
   
        #id{
            background-color: white;
            position: relative;

            /* clip-path:polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0) ; */
            width: 100%;
        overflow: hidden;
            height: 100%;
            position: absolute;
            z-index: -1;
            top:0;
        }
    #mySidenav{
        display: none;
    }
    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 3; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    
    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }
    .overlay {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
      }
      
      /* When you mouse over the container, fade in the overlay title */
      .container:hover .overlay {
        opacity: 1;
      }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }
    .openbtn{
        display:none;
        cursor: pointer;
    }
    
    /* Position and style the close button (top right corner) */
    .closebtn {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 46px !important;
        margin-left: 50px;
        cursor: pointer;
    }
   
    .cart-overlay{ position: fixed; 
        top:0;
         right:0; 
         width:250px;
         height: 100%; 
         padding: 1.5rem; 
         transition: all 0.3s linear ; -webkit-transition: all 0.3s linear ; -moz-transition: all 0.3s linear ; -ms-transition: all 0.3s linear ; -o-transition: all 0.3s linear ;
        background-color: white;
        z-index: 2;
        visibility: hidden;
    }
    .cart{
        position: fixed;
        top:0;
        display:block;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: scroll;
        z-index: 3;
        background:black;
        font-size: 30px;
        opacity:0.9;
        transition:all 0.3s linear  ;
        -webkit-transition:all 0.3s linear  ;
        -moz-transition:all 0.3s linear  ;
        -ms-transition:all 0.3s linear  ;
        -o-transition:all 0.3s linear  ;
        /* transform: translateX(100%) ;
        -webkit-transform: translateX(100%) ;
        -moz-transform: translateX(100%) ;
        -ms-transform: translateX(100%) ;
        -o-transform: translateX(100%) ; */
    }
    .cart-item{
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 0 0;
        margin: 3rem 0;
        }
        .cart-item img{
            width:400px;
            height:400px;
        
        }
        .close-cart{
            font-size: 3.7rem;
            position: sticky !important;
            color: rgb(209, 125, 22);
            margin-left: -1200px;
            cursor: pointer;
           
        }
        .cart h2{
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 2rem;
            letter-spacing: 0.2rem;
        }
        .cart-item h4{
            font-size: 1.25rem;
            text-transform: capitalize;
        }
        .cart-item h5{
           margin: 0.1rem;
           letter-spacing:  0.3rem;
        }
        .cart-footer{
            margin-top:2rem;
            letter-spacing: 0.1rem;
            text-align: center;
        }
        .cart-footer h3{
            text-transform: capitalize;
            margin-bottom: 1rem;
        }
        .item-amout{
            text-align:center;
        
        }
        .remove-item{
            color:red;
            cursor: pointer;
        }
    .showcart{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        /* -o-transform: translateX(0); */
    }
    .banner-btn{
        padding: 1rem 3rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-size: 1rem;
        background-color: rgb(71, 70, 70);
        color: rgb(230, 229, 236);
        border: 1px solid yellowgreen;
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
     }
     
     .banner-btn:hover{
          background: transparent;
          color: rgb(93, 64, 224);
     }
    .transparentbcg{
        visibility: visible;
        
    }
    /* Style page content - use ths if you want to push the page content to the right when you open the side navigation */
    #main {
        transition: margin-left .5s;
        padding: 20px;
    }
    .text-lg{
        color: rgb(31, 34, 34);
       font-size: 45px; 
    }
    .p-tab1{
        
        color: rgb(29, 29, 31);
        text-align: center;
        font-size: 50px;
    }
    .p-about{
           padding-bottom:180px;
    }
    
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
    .tabs{
        background:black;
        padding-top: 1rem  rgb(240, 234, 234);
        border-bottom: 3px solid rgb(14, 13, 13);
        position:sticky;  
          top:0;
         right:0; 
         width:100%;
         padding-top:0;
         
      
    }
    
    .container  button.tab-border{
        border-bottom:2px solid rgb(209, 15, 15);
    }
    .container button{
        margin-left: 2px;
        width: 10rem;
        font-size: 1.4rem;
        background-color: none;
        outline: none;
        border: none;
        background: none;
        color: rgb(223, 186, 23);
    
    }
    .container button:hover{
        background: blue;
        color:white;
    }
    
    
    .container{
        width: 80%;
        margin: auto;
        padding-top: 20px;
        text-align: center;
        list-style: none;
    }
   
   
    
    .p-about{
        font-size: 20px;
        font-style: italic;
        color:black;
    }
    .contact-p{
        padding-bottom:100px;
        color:black;
        font-size: 40px;
        font-style: italic;
    }
    .skill-btn{
        font-size: 50px;
        color:black;
    }
    
    /*     */
    .tab-content{
         padding:3rem 0;
         color:white;
         /* background-color: black ; */
    }
    #tab-1-content
    {
        display:none;
       
    }
    #tab-2-content,
    #tab-3-content,
    #tab-4-content,
    #tab-5-content,
    #tab-6-content,
    #tab-7-content,
    #tab-8-content,
    #tab-9-content
    {
        display:none;
    }
    .show{
        display:block !important;
    }
    .homepageimg{
        width:60%;
    }
    #tab-1-content .tab-1-content-inner{
        display:grid;
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: 2fr 1fr;
          grid-gap:  2rem;
          align-items: center;
          justify-content: center  ;
          text-align: center;
          
       }
       #tab-2-content .tab-2-content-top{
           display:grid;
           grid-template-columns:2fr 1fr;
           grid-gap  :1rem;
           align-items: center;
          justify-content: center  ; 
          
       }
       #tab-2-content .tab-2-content-bottom .product-center {
           display:grid;
           grid-template-columns:repeat(3, 1fr);
           grid-gap  :2rem;
           align-items: center;
          justify-content: center  ; 
          text-align: center ;
       }
       .img-box{
           border:2px solid black;
       }
       #myImg{
    padding-top: 3px;
       }
       
   
    
    article{
        border:2px solid rgb(17, 16, 16);
        width:100%;
    }
    article .bag-btn{
       border:1px solid rgb(206, 15, 15);
       border-radius: 20px;
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       -ms-border-radius: 20px;
       -o-border-radius: 20px;
}

article .bag-btn:hover{
    background:black;
}
    
    
      
    
    .second-tabs{
         /* background-color: rgb(16, 116, 16);  */
        overflow:hidden;
        padding-top: 15rem;
        margin-top: 5rem;
         
    }
    .second-tabs .container{
        display:grid;
        
        grid-template-columns: repeat(4, 1fr);
        grid-gap:1rem;
        justify-content: center;
        align-items:center;
        text-align:center;
       
    }
    .second-tabs p{
        font-size: 1.3rem;
        padding-top:0.5rem;
        
    }
    .second-tabs .container > div{
        padding:1.5em 0;
    }
    .second-tabs .container > div:hover{
        color: rgb(245, 239, 239);
        cursor:pointer;
    }
    .second-tab-border{
        border-bottom:3px solid rgb(212, 205, 205);
    }   
    .second-tab-content{
         padding:3rem 0;
         color:white;
         /* background-color: black ; */
    }
    #second-tab-1-content,
    #second-tab-2-content,
    #second-tab-3-content,
    #second-tab-4-content
    {
        display:none;
        border:1px solid black;
     padding:5px;
    }
    .second-show{
        display:block !important;
    }
    #second-tab-1-content .second-tab-1-content-bottom .product-center {
       display:grid;
       grid-template-columns:repeat(3, 1fr);
       grid-gap  :4rem;
       align-items: center;
      justify-content: center  ; 
      text-align: center ;
      margin-left: 100px;
       }
     
       #second-tab-2-content .second-tab-2-content-bottom .product-center{
           display:grid;
           grid-template-columns:repeat(3, 1fr);
           grid-gap  :2rem;
           align-items: center;
          justify-content: center  ; 
          text-align: center ;
          margin-left: 160px;
       }
       #second-tab-3-content .second-tab-3-content-bottom .product-center {
           display:grid;
           grid-template-columns:repeat(3, 1fr);
           grid-gap  :2rem;
           align-items: center;
          justify-content: center  ; 
          text-align: center ;
          margin-left: 160px;
       }
       #second-tab-4-content .second-tab-4-content-bottom .product-center{
           display:grid;
           grid-template-columns:repeat(3, 1fr);
           grid-gap  :2rem;
           align-items: center;
          justify-content: center  ; 
          text-align: center ;
          margin-left: 160px;
       }
       #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    #myImg:hover {opacity: 0.7;}
    
    
    .img-box{
        position: relative;
        overflow: hidden;
        margin-left: 0px;
    }
    .img-box:hover .bag-btn{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .add{
        background: blue;
        
        color:white;
        font-size:20px;
        text-align:center;
    }
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    } 
       .footer{
        max-width:75%;
        margin:1rem auto;
        overflow: hidden;
        border-top:1px solid black;
        display:none;
       
    } 
       
    
        .footer p{
            margin-bottom:1.5rem;
            font-size: 30px;
            text-align: center;
            color:rgb(10, 10, 10);
        }
        .footer span{
           color :red;
    
           font-style: italic;
        }
        /* .home-intro {
           color 
           
          } */
      
     @media(max-width:700px){
         body{
        background: rgb(0, 255, 149);
     } 
         nav.mobile-nav{
          position:sticky;
          left:0px;
          top:0px;
          z-index: 2;
          
         }
       
        #main .tabs{
        display:block;
        }
        .mobile-cart{
            
            position:relative;
            left:0px;
            top:5px;
            float:right;
            position:sticky;
        }
        .mobile-logo{
            width:10%;
            position:relative;
            left:-300px;
            top:-30px;
           
            
        }
        .fa-bars{
            font-size:30px;
            padding-left: 20px;
            color:rgb(24, 23, 23);
           
        }
          
        #mySidenav{
         display: block;
     }
        #main {
         transition: margin-left .5s;
         padding: 20px;
         -webkit-transition: margin-left .5s;
         -moz-transition: margin-left .5s;
         -ms-transition: margin-left .5s;
         -o-transition: margin-left .5s;
    }
     .container button{
         margin-left: 90px;
         width: 13rem;
         font-size: 1.4rem;
         
     }
     .tab-item{
         display: block;
         margin-top: 20px;
         width: 100%;
         font-size: 20px;
         height: 40px;
     }
        .tabs{
         
         padding-top: 1rem;
         border-bottom: 3px solid rgb(14, 13, 13);
     position: absolute;
     }
     .tabs .container{
         display:inline-block;
     }
     .tab-content{
         padding:3rem 0;
         width: 100%;
         height: 700px;
         position: relative;
         
         color:white;
         /* background: rgb(42, 35, 100) ; */
     }
     .tabs .container{
         display: none;
     }
     .container{
         width: 100%;
         margin: auto;
         padding-top: 20px;
         text-align: center;
         list-style: none;
     }
       
     .contact-right{
     float: none;
     position: relative;
     top: 200px;
     right: 100px;
     } 
     .contact-left{
         float: none;
       width: 90%;
          position: absolute;
         line-height: 40px;
         left: 20px;
     
     }
     .heading-about{
         font-size: 43px;
      }
      .text-lg{
        color: rgb(227, 238, 238);
       font-size: 30px; 
    }
    .p-tab1{
        
        color: rgb(226, 226, 238);
        text-align: center;
        font-size: 45px;
    }
      .p-about{
          font-size: 20px;
          font-style: italic;
      }
      .skill-btn{
          font-size: 50px;
      }
     
     .openbtn{
         display:block;
     }
     .second-tabs{
    
        padding-top: 1rem;
        margin-top: 6rem;
       
         width: 950px;
         color:rgb(37, 231, 79);
    }
    
    
       .second-tabs .container{
        display:grid;
        width:100%;
       color:rgb(51, 35, 141);
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items:center;
        text-align:center;
        margin-left: 1px;
        margin-right:40px;
        width: 200px !important;
    }
    
    .second-tabs .container {
        width:600px !important;
        
    }
     
     #second-tab-1-content .second-tab-1-content-bottom, #second-tab-3-content .second-tab-3-content-bottom,  #second-tab-4-content .second-tab-4-content-bottom, #second-tab-2-content .second-tab-2-content-bottom{
            
        display:grid;
        grid-template-columns:  1fr;
       margin-top: 50px;
        display:block;
        text-align:center;
    
        
       }
       .second-tab-1-content-bottom >div,
       .second-tab-2-content-bottom >div,
       .second-tab-3-content-bottom >div,
       .second-tab-4-content-bottom >div{
           margin-top:10px;
       }
       #myImg{
           width:80%;
       }
      
        }
        
        @media(min-width:687px){
            body{
                background:rgb(211, 111, 64);
            } 
          
            #second-tab-1-content .second-tab-1-content-bottom,
            #second-tab-2-content .second-tab-2-content-bottom,
            #second-tab-3-content .second-tab-3-content-bottom,
            #second-tab-4-content .second-tab-4-content-bottom
    
            {
                display:grid;
                grid-template-columns:repeat(1, 1fr);
                grid-gap  :2rem;
                align-items: center;
               justify-content: center  ; 
               text-align: center ;
                }
                .mobile-cart{
                    display:block;
                }
               
        }
      
        
        @media (max-width: 1276px){
             body{
                background:orange;
               } 
               .mobile-logo
               {
           color:white;
           float:right;
           padding-top:20px;
           font-size:30px;
           display:block;
               }
               .container  button.tab-border{
                border-bottom:2px solid rgb(209, 15, 15);
            }
            .container button{
                margin-left:120px;
                width: 3rem;
                font-size: 1.2rem;
                background-color: none;
                outline: none;
                border: none;
                background: none;
                color: rgb(230, 236, 236);
            
            }
               #second-tab-1-content .second-tab-1-content-bottom,
            #second-tab-2-content .second-tab-2-content-bottom,
            #second-tab-3-content .second-tab-3-content-bottom,
            #second-tab-4-content .second-tab-4-content-bottom
    
            {
                display:grid;
                grid-template-columns:repeat(2, 1fr);
                grid-gap  :2rem;
                align-items: center;
               justify-content: center  ; 
               text-align: center ;
                }
        }
        @media (max-width: 959px){
             body{
                background:rgb(63, 57, 139);
               } 
               .slideshow-container {
                max-width: 100%;
                position: relative;
                margin: auto;
            margin-top:300px;
            position: relative;
            
            }
            
            .mySlides {
                display: none;
              margin-left: 0px;
              padding-top:20px;
              width: 100%;
            
            
              /* border: solid 1px black; */
                 
            }
               .container  button.tab-border{
                border-bottom:2px solid rgb(209, 15, 15);
            }
            .container button{
                margin-left:80px;
                width: 2rem;
                font-size: 1.2rem;
                background-color: none;
                outline: none;
                border: none;
                background: none;
                color: rgb(230, 236, 236);
            
            }
               #second-tab-1-content .second-tab-1-content-bottom,
            #second-tab-2-content .second-tab-2-content-bottom,
            #second-tab-3-content .second-tab-3-content-bottom,
            #second-tab-4-content .second-tab-4-content-bottom
    
            {
                display:grid;
                grid-template-columns:repeat(1, 1fr);
                grid-gap  :2rem;
                align-items: center;
               justify-content: center  ; 
               text-align: center ;
                }
                #myImg{
                    width:80%;
                }
                .footer{
                    max-width:75%;
                    margin:1rem auto;
                    overflow: auto;
                    color:black;
                   
                } 
                   
                
                    .footer p{
                        margin-bottom:1.5rem;
                        font-size: 30px;
                        text-align: center;
                        color:black;
                    }
                    .footer span{
                       color :red;
                
                       font-style: italic;
                    }
        }
        @media(min-width:687px){
            body{
                background:red;
            } 
          
            #second-tab-1-content .second-tab-1-content-bottom,
            #second-tab-2-content .second-tab-2-content-bottom,
            #second-tab-3-content .second-tab-3-content-bottom,
            #second-tab-4-content .second-tab-4-content-bottom
    
            {
                display:grid;
                grid-template-columns:repeat(3, 1fr);
                grid-gap  :2rem;
                align-items: center;
               justify-content: center  ; 
               text-align: center ;
                }
                nav.mobile-nav .mobile-cart{
                    display:none;
                }
        }
      
        
        @media (max-width: 1276px){
            body{
                background:orange;
               } 
               .mobile-logo
               {
           color:white;
           float:right;
           padding-top:20px;
           font-size:30px;
           display:block;
               }
               .container  button.tab-border{
                border-bottom:2px solid rgb(209, 15, 15);
            }
            .container button{
                margin-left:120px;
                width: 3rem;
                font-size: 1.2rem;
                background-color: none;
                outline: none;
                border: none;
                background: none;
                color: rgb(230, 236, 236);
            
            }
               #second-tab-1-content .second-tab-1-content-bottom,
            #second-tab-2-content .second-tab-2-content-bottom,
            #second-tab-3-content .second-tab-3-content-bottom,
            #second-tab-4-content .second-tab-4-content-bottom
    
            {
                display:grid;
                grid-template-columns:repeat(2, 1fr);
                grid-gap  :2rem;
                align-items: center;
               justify-content: center  ; 
               text-align: center ;
                }
        }
        @media (max-width: 959px){
             body{
                background:rgb(25, 196, 202);
                
               } 
               .slideshow-container {
                max-width: 100%;
                position: relative;
                margin: auto;
            margin-top:300px;
            position: relative;
            
            }
            .homepageimg{
                width:100%;
            }
            .second-tabs{
                width:100%;
            }
            .our-product{
                color:white;
                font-size: 40px;
                text-transform: capitalize;
                font-style: italic ;
                text-align: center;
            }
            article.product{
                width:30rem;
            }
            
            nav.mobile-nav{
                position:sticky;
                left:0px;
                top:0px;
             
                
               }
            
            .mySlides {
                display: none;
              margin-left: 0px;
              padding-top:20px;
              width: 100%;
            
            
              /* border: solid 1px black; */
                 
            }
               .container  button.tab-border{
                border-bottom:2px solid rgb(209, 15, 15);
            }
            .container button{
                margin-left:80px;
                width: 2rem;
                font-size: 1.2rem;
                background-color: none;
                outline: none;
                border: none;
                background: none;
                color: rgb(230, 236, 236);
            
            }
               #second-tab-1-content .second-tab-1-content-bottom .product-center ,
            
            #second-tab-2-content .second-tab-2-content-bottom .product-center,
            #second-tab-3-content .second-tab-3-content-bottom .product-center,
            #second-tab-4-content .second-tab-4-content-bottom .product-center
    
            {
                display:grid;
                grid-template-columns:repeat(1, 1fr);
                grid-gap  :2rem;
                align-items: center;
               justify-content: center  ; 
               text-align: center ;
                 margin-left:50px;
                 z-index:3;

                }
     
                article .bag-btn{
                    width:80%;
                    margin:auto;
                    background-color: black;
                   border:1px solid rgb(206, 15, 15);
                   border-radius: 20px;
                   -webkit-border-radius: 20px;
                   -moz-border-radius: 20px;
                   -ms-border-radius: 20px;
                   -o-border-radius: 20px;
                   text-align:center;
            }
            
            article .bag-btn:hover{
                background:rgb(247, 243, 243);
                color:black;
            }
             h3,h4{
                 font-size:40px;
             }
            
            nav.mobile-nav .mobile-cart{
                display:block;
                position: sticky;
                top:0;
                right:0;
                z-index: 2;
            }
           
                #myImg{
                    width:80%;
                }
                .footer{
                    max-width:75%;
                    margin:1rem auto;
                    overflow: auto;
                   
                } 
                   
                
                    .footer p{
                        margin-bottom:1.5rem;
                        font-size: 30px;
                        text-align: center;
                        color:black;
                    }
                    .footer span{
                       color :red;
                
                       font-style: italic;
                    }
        }